img{
  display: block;
  margin-left: auto;
  margin-right: auto
}

body {
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 40px;
}

button{
  height: 400px;
  width: 600px;
  font-size: 30px;
  color: white;
  background-color: black;
  border: 3px solid:white;
  border-radius: 10px;
  transition: 1s;
  /*margin-left: 35%;*/
  /*text-align: center;*/
}
.words {
  text-align: center;
}
#alert{
  background-color: red;
}
